body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

main {
  width: 320px;
  margin: 32px auto;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 16px;
}

.purge {
  color: #999;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 0;
  border-bottom: 1px solid gray;
}

input[type="text"]::placeholder {
  color: #999;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  padding: 8px;
  margin: 0;
}

li:nth-child(even) {
  background-color: #eee;
}

.toggle {
  margin: auto 0;
  margin-right: 8px;
}

.toggle:checked + span {
  color: gray;
  text-decoration: line-through;
}

.delete {
  color: #999;
  cursor: pointer;
}
.delete-form {
  margin: auto 0;
  margin-left: auto;
  padding-left: 8px;
}